# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Ignorar todo
*

# No ignores las carpetas de ejercicios
!ejercicio1/
!ejercicio2/
!ejercicio3/
!ejercicio4/

# No ignores los lib dentro de cada ejercicio
!ejercicio1/lib/
!ejercicio2/lib/
!ejercicio3/lib/
!ejercicio4/lib/

# No ignores main.dart dentro de cada lib
!ejercicio1/lib/main.dart
!ejercicio2/lib/main.dart
!ejercicio3/lib/main.dart
!ejercicio4/lib/main.dart
